body {
    font-family: 'Roboto', sans-serif;
}

.main-container{
    margin-top: 50px;
    margin-bottom : 50px;
}
.card-header {
    margin-bottom: 10px;
}

footer {
    font-family: 'Roboto', sans-serif;
    background: #252850;
    color: white;
}
.bg-navbar {
    background-color: #252850;

}

